/***------------------------------------------------------

    // Website Name: Meetup
    // URL: urlgoes.here.com
    // Version: 1.0

------------------------------------------------------***/
/***------------------------------------------------------
**** CSS INDEX
------------------------------------------------------***/
/***------------------------------------------------------
**** 00.    Font @import
**** 01.    General Styles
**** 02.    Navigation
**** 03.    Header
**** 04.    Our Offer
**** 05.    Contact
**** 06.    Footer
**** 07.    ######
**** 08.    ######
**** 09.    ######
**** 10.    ######
**** 11.    ######
------------------------------------------------------***/
/***------------------------------------------------------
**** 00. Font @import
------------------------------------------------------***/
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,800');

/***------------------------------------------------------
**** 01. General Styles
------------------------------------------------------***/
body {
  font-family: 'Roboto', sans-serif;
  color: black;
}

::-webkit-input-placeholder {
  color: black;
  font-size: .7rem;
  font-style: italic;
}

::-moz-placeholder {
  font-size: .7rem;
  font-style: italic;
}

:-ms-input-placeholder {
  font-size: .7rem;
  font-style: italic;
}

:-moz-placeholder {
  font-size: .7rem;
  font-style: italic;
}


// Style for HR
.blue {
  border: 0 none;
  border-top: 5px solid $mu_blue_accent;
  background: none;
  height: 0;
  width: 25px;
}

/***------------------------------------------------------
**** 02. Navigation
------------------------------------------------------***/
// Navigation

#main_nav {
  background: transparent;
  @include media-breakpoint-only(xs) {
    background: white;
    -webkit-box-shadow: $zero $zero $twenty $six rgba(0, 0, 0, 0.1);
    -moz-box-shadow: $zero $zero $twenty $six rgba(0, 0, 0, 0.1);
    box-shadow: $zero $zero $twenty $six rgba(0, 0, 0, 0.1);
  }
  .navbar-brand {
    text-transform: uppercase;
    font-weight: 900;
    color: $mu_text;
  }
  .nav-link {
    font-weight: 600;
    font-size: 14px;
    color: white;
    @include media-breakpoint-only(xs) {
      color: $mu_text;
    }
    padding: 1.2rem;
    &:hover,
    &:focus {
      color: lighten($mu_text,60%);
    }
    @include media-breakpoint-down(md) {
      padding: 0.5rem 0rem;
    }
  }
  .form-inline {
    margin-top: $fifteen;
    @include media-breakpoint-down(md) {
      margin-top: $ten;
      margin-bottom: $fifteen;
    }
    .btn-sm {
      padding: 0.35rem 0.5rem 0.25rem;
    }
  }

  .custom-toggler.navbar-toggler {
    border-color: transparent;
  }
  .custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  @include media-breakpoint-only(xs) {
    .custom-toggler .navbar-toggler-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(63, 96, 251, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }
  }
}

.navbar-shrink {
  background: #FFF !important;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-box-shadow: $zero $zero $twenty $six rgba(0, 0, 0, 0.1);
  -moz-box-shadow: $zero $zero $twenty $six rgba(0, 0, 0, 0.1);
  box-shadow: $zero $zero $twenty $six rgba(0, 0, 0, 0.1);
  .nav-link {
    color: $mu_text !important;
    &:hover {
      color: $mu_blue_accent !important;
    }
  }
  .navbar-brand {
    color: $mu_text !important;
  }
  a.active {
    color: $mu_blue_accent !important;
  }
  .custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(63, 96, 251, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
  }
}

/***------------------------------------------------------
**** 03. Header
------------------------------------------------------***/
#main_hdr {
  background: url(../images/hdr_bg.svg) no-repeat;
  background-position: right -50px;
  min-height: 600px;
  padding: $forty $zero $ten;
  @include media-breakpoint-only(xs) {
    background: none;
    min-height: 540px;
  }
  @include media-breakpoint-only(md) {
    background-position: 180px -220px;
    min-height: 400px;
  }
  @media (min-width: 992px) and (max-width: 1199.98px) {
    background-position: 350px -120px;
    min-height: 510px;
  }
  .header_content {
    .header_text {
      h1 {
        font-weight: 800;
        font-size: 52px;
        color: $mu_text;
        margin-top: $fifty;
        @include media-breakpoint-down(md) {
          font-size: 28px;
        }
      }
      h3 {
        font-weight: 500;
        font-style: italic;
        font-size: 21px;
        color: $mu_text;
        @include media-breakpoint-down(md) {
          font-size: 16px;
          line-height: normal;
        }
      }
    }
    @include media-breakpoint-only(xs) {
      text-align: center;
    }
  }
  .header_img {
    margin-top: $fifty;
    @include media-breakpoint-only(xs) {
      margin-top: $twenty-five;
    }
  }
}

/***------------------------------------------------------
**** 03. Header
------------------------------------------------------***/
#inner_hdr {
  background: url(../images/hdr_bg.svg) no-repeat;
  background-position: right -50px;
  min-height: 600px;
  padding: $forty $zero $ten;
  @include media-breakpoint-only(xs) {
    background: none;
    min-height: 540px;
  }
  @include media-breakpoint-only(md) {
    background-position: 180px -220px;
    min-height: 400px;
  }
  @media (min-width: 992px) and (max-width: 1199.98px) {
    background-position: 350px -120px;
    min-height: 510px;
  }
  .header_content {
    .header_text {
      h1 {
        font-weight: 800;
        font-size: 42px;
        color: $mu_text;
        margin-top: $fifty;
        @include media-breakpoint-down(md) {
          font-size: 28px;
        }
      }
      @include media-breakpoint-only(xs) {
        text-align: center;
      }
    }
  }
  .header_img {
    margin-top: $fifty;
    @include media-breakpoint-only(xs) {
      margin-top: $twenty-five;
    }
  }
}

/***------------------------------------------------------
**** 04. Our Offer
------------------------------------------------------***/
#our_offer {
  background: $mu_light_bg;
  border-top: 1px solid $mu_light_bg_border;
  border-bottom: 1px solid $mu_light_bg_border;
  padding: $fifty $zero;

  .offer_content {
    h2 {
      font-size: 28px;
      font-weight: 700;
      color: $mu_text;
      text-align: center;
    }
  }
  .offer_wrapper {
    background: #FFFFFF;
    border: 1px solid #F0F1F3;
    margin-top: $fifty-five;
    .offer_item {
      padding: $fifty $zero;
      h3 {
        text-align: center;
        font-size: 24px;
        font-weight: 700;
      }
      .list-unstyled {
        padding: $zero $seventy-five;
        margin: $zero;
        @include media-breakpoint-down(sm) {
          padding: $zero $twenty-five;
        }
        @include media-breakpoint-only(md) {
          padding: $zero $thirty-five;
        }
        h5 {
          font-size: 16px;
        }
      }
    }
    .item_seperator {
      &:before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        width: 1px;
        height: 100%;
        background-color: #E0E6EB;
      }
    }
  }
}

/***------------------------------------------------------
**** 05. Contact
------------------------------------------------------***/
#contact {
  padding: $seventy $zero;
  text-align: center;
  h2 {
    font-size: 28px;
    font-weight: 700;
    color: $mu_text;
  }
  p {
    font-size: 14px;
  }

  .form_wrapper {
    form {
      margin-top: $fifty;
      .input-group {
        .form-control {
          border-radius: 0;
          border: 1px solid $mu_light_bg_border;
        }
        .input-group-append {
          .btn {
            border-radius: 0;
            padding: $fifteen $thirty-five;
            text-transform: uppercase;
            font-weight: 700;
            letter-spacing: 4px;
            font-size: 14px;
          }
        }
      }
    }
  }
}

/***------------------------------------------------------
**** 05. Meetup
------------------------------------------------------***/
#meetups {

  background: $mu_light_bg;
  border-top: 1px solid $mu_light_bg_border;
  border-bottom: 1px solid $mu_light_bg_border;
  padding: $fifty $zero;
  h2 {
    font-size: 28px;
    font-weight: 700;
    color: $mu_text;
    text-align: center;
  }
  .meetup_content {
    margin-top: $fifty;
    .card {
      margin-bottom: $fifty;
      .card-body {
        padding: $thirty-five;
        h2 {
          font-size: 21px;
          font-weight: 700;
          color: $mu_text;
          text-align: left;
          margin-bottom: $five;
        }
        .card_subtitle {
          font-size: 12px;
          color: $mu_blue_accent;
          text-transform: uppercase;
          letter-spacing: 2px;
          font-weight: 700;
          margin-bottom: $fifteen;
        }
      }
      .card-footer {
        font-size: 12px;
        font-weight: 700;
        color: $mu_text;
        padding-left: $thirty-five;
        span {
          font-size: 12px;
          color: $mu_blue_accent;
          text-transform: uppercase;
          letter-spacing: 2px;
          font-weight: 700;
        }
      }
    }

  }
}

#meetup_form {
  padding: $seventy $zero;
  h2 {
    font-size: 28px;
    font-weight: 700;
    color: $mu_text;
    text-align: center;
  }
  .form_wrapper {
    background: #FFFFFF;
    padding: $thirty-five;
    border: 1px solid #F0F1F3;
    margin-top: $fifty;
    h3 {
      font-size: 18px;
      font-weight: 700;
      color: $mu_text;
      text-align: left;
      margin-bottom: $fifteen;
    }
    .form-check-input {
      margin-left: 0;
    }
    .form-control {
      border-radius: 0;
      border: 1px solid $mu_light_bg_border;
      padding: 14px;
    }
    .btn {
      border-radius: 0;
      padding-top: 14px;
      padding-bottom: 14px;
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 4px;
      font-size: 14px;
    }
  }
}

/***------------------------------------------------------
**** 05. Footer
------------------------------------------------------***/
footer {
  padding: $twenty $zero;
  background: $mu_dark_bg;
  color: $mu_light_bg;
  text-align: center;
  p {
    font-size: 11px;
    margin-bottom: $zero;
  }
}